<!DOCTYPE html>
<html lang="ru" class="page">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Champion Gym Investment</title>
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/MontserratRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/MontserratExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>

<body class="page__body">
  <div class="site-container">
    <header class="header">
  <div class="container-fluid">
    <div class="header__inner">
      <div class="header__logo">
        <picture>
          <source srcset="img/Logo.avif" type="image/avif">
          <source srcset="img/Logo.webp" type="image/webp">
          <img loading="lazy" src="img/Logo.png" class="header__img" width="94" height="96" alt="Логотип">
        </picture>
      </div>
      <nav class="header__nav" title="Main menu">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link"></a></li>
          <li class="nav__item"><a href="#" class="nav__link"></a></li>
          <li class="nav__item"><a href="#" class="nav__link"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

    <main class="main">

    </main>

    <footer class="footer">
  <div class="container"></div>
</footer>

  </div>
</body>

</html>