:root {
  --font-family: "Inter", sans-serif;
  --font-size: 25px;
  --content-width: 1200px;
  --content-fluid-width: 1270px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #000;
  --bg-color: #171717;
  --main-title-color: #FAFAF9;
  --small-text-color: #EFEDE8;
  --card-color: #323443;
  --card-darc-color: #232532;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/MontserratExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-size: var(--font-size);
  -webkit-text-size-adjust: 100%;
  color: var(--main-title-color);
  background-color: var(--bg-color);
}

.page__body {
  position: relative;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-fluid-offset);
  max-width: var(--container-fluid-width);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: absolute;
  top: 28px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
}

.intro {
  height: 100vh;
  min-height: 965px;
}
.intro__inner {
  min-height: 965px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.intro__title {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 85px;
  letter-spacing: -2px;
  text-transform: uppercase;
}
.intro__title-thin {
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
}
.intro__title-bold {
  font-weight: 700;
  font-size: 110px;
  line-height: 100%;
}
.intro__text {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
}
.intro__img {
  position: absolute;
  top: 100px;
  right: -10%;
  z-index: -5;
}

.profit {
  margin: 100px auto;
  width: 100%;
  height: 700px;
}
.profit__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.3px;
  text-align: center;
}
.profit__subtitle {
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
  text-align: center;
}

.nav {
  width: 65%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav__link {
  padding-bottom: 3px;
  color: var(--main-title-color);
}
.nav__link:hover {
  border-bottom: 4px solid currentColor;
  -webkit-transition: border-bottom 0.2s ease-in-out;
  -o-transition: border-bottom 0.2s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}

.label {
  border-radius: 12px;
  padding: 25px 18px;
  position: absolute;
}
.label-orange {
  width: 190px;
  height: 110px;
  background: #EF8964;
  top: 200px;
  right: -7%;
  z-index: -4;
}
.label-gray {
  width: 206px;
  height: 96px;
  background: #303030;
  bottom: 250px;
  right: 23%;
  z-index: -4;
}
.label__suptext {
  font-weight: 600;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.label__text {
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.label__text-big {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -5px;
  text-transform: uppercase;
}
.label__text-small {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.label__text-gray {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.label__text-violet {
  font-size: 40px;
}
.label__subtext {
  margin-top: 6px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
}
.label-gray {
  padding: 22px 30px;
}
.label-violet {
  padding: 25px 40px;
  width: 193px;
  height: 98px;
  background: #7A29DC;
  bottom: 150px;
  right: -2%;
  z-index: -4;
}

.btn {
  width: 238px;
  height: 66px;
  background: #E6533C;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1px;
  color: var(--light-color);
}
/*# sourceMappingURL=main.css.map */