<section class="benefit" id="benefit">
  <div class="container">
    <div class="benefit__inner">
      <div class="benefit__left">
        <picture>
          <source srcset="img/benefit/investor.avif" type="image/avif">
          <source srcset="img/benefit/investor.webp" type="image/webp">
          <img loading="lazy" src="img/benefit/investor.jpg" class="benefit__img" width="560" height="510"
            alt="Инвестор">
        </picture>
      </div>

      <div class="benefit__right">
        <h2 class="benefit__title">
          Второй вариант инвестиций
        </h2>

        <p class="benefit__info">
          Инвестор вкладывает 95 миллионов и получает долю 25% во владение, но только в одном филиале. В который вкладывается, без капитализации, но с возвратом инвестиций в течение 24-32 месяца.
        </p>
      </div>
    </div>

    <p class="benefit__caption">
      Долю в бизнесе можно продать за 100-120 миллионов через 2-3 года.
    </p>
  </div>
</section>