<section class="benefit" id="benefit">
  <div class="container">
    <div class="benefit__inner">
      <div class="benefit__left">
        <picture>
          <source srcset="img/benefit/investor.avif" type="image/avif">
          <source srcset="img/benefit/investor.webp" type="image/webp">
          <img loading="lazy" src="img/benefit/investor.jpg" class="benefit__img" width="560" height="510"
            alt="Инвестор">
        </picture>
      </div>

      <div class="benefit__right">
        <h2 class="benefit__title">
          Выгода инвестора
        </h2>

        <p class="benefit__info">
          Инвестор вкладывает 95 000 000 ₸ инвестиций и получает долю 10% во владение с капитализацией (доля в следующих трёх филиалах).
        </p>
      </div>
    </div>
  </div>
</section>