<header class="header">
  <div class="container-fluid">
    <div class="header__inner">
      <div class="header__logo">
        <picture>
          <source srcset="img/Logo.avif" type="image/avif">
          <source srcset="img/Logo.webp" type="image/webp">
          <img loading="lazy" src="img/Logo.png" class="header__img" width="94" height="96" alt="Логотип">
        </picture>
      </div>
      <nav class="header__nav" title="Main menu">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link"></a></li>
          <li class="nav__item"><a href="#" class="nav__link"></a></li>
          <li class="nav__item"><a href="#" class="nav__link"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
