<section class="investment">
  <div class="container">
    <div class="investment__inner">
      <div class="investment__row">
        <picture>
          <source srcset="img/investment/investor.avif" type="image/avif">
          <source srcset="img/investment/investor.webp" type="image/webp">
          <img loading="lazy" src="img/investment/investor.png" class="investment__img" width="62" height="62" alt="Инвестор">
        </picture>
        <p class="investmen__text">
          Минимальная сумма инвестиций 5 000 000 ₸.
        </p>
      </div>
      <div class="investment__row">
        <picture>
          <source srcset="img/investment/clock.avif" type="image/avif">
          <source srcset="img/investment/clock.webp" type="image/webp">
          <img loading="lazy" src="img/investment/clock.png" class="investment__img" width="62" height="62" alt="Часы">
        </picture>
        <p class="investmen__text">
          Открытие филиала будет происходить в течение 3-х месяцев.
        </p>
      </div>
    </div>
  </div>
</section>