<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="form">
    <!-- <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">

    </button> -->
    <div class="graph-modal__wrapper">
      <div class="graph-modal__header">
        <h3 class="graph-modal__title">
          Квалифицирующая анкета инвестора
        </h3>
      </div>
      <div class="graph-modal__content">
        <form method="POST" action="#" class="form">
          <p class="form__caption">
            Имя
          </p>
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <p class="form__caption" >
            Номер телефона
          </p>
          <label class="form__label">
            <input type="text" id="phone" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <p class="form__caption">
            Возраст
          </p>
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <p class="form__caption">
            Есть ли опыт инвестирования?
          </p>
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <p class="form__caption">
            Почему именно фитнес?
          </p>
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <p class="form__caption">
            Есть ли действующий бизнес?
          </p>
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <p class="form__caption">
            Осведомлены ли, что минимально возможная покупка это 1% доли?
          </p>
          <label class="form__label">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Введите ответ здесь">
          </label>
          <button type="submit" class="btn-reset btn form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>