<section class="process" id="process">
  <div class="container">
    <div class="process__inner">
      <div class="process__left">
        <h2 class="process__title">
          Как все происходит:
        </h2>

        <p class="process__info">
          Заключаем инвестиционный договор.
          Вводим тебя в состав ТОО присваивая долю в бизнесе с капитализацией соразмерно инвестициям.
        </p>

      </div>

      <div class="process__right">
        <picture>
          <source srcset="img/process/contract.avif" type="image/avif">
          <source srcset="img/process/contract.webp" type="image/webp">
          <img loading="lazy" src="img/process/contract.jpg" class="process__img" width="640" height="539" alt="Договор">
        </picture>
      </div>
    </div>
  </div>
</section>