<section class="profit" id="profit">
  <div class="container">
    <h2 class="profit__title">
      Ожидаемая прибыль инвестора:
    </h2>

    <p class="profit__subtitle">
      При инвестирования в открытие нашего ФК, с возможностью капитализации.
    </p>

    <p class="profit__subtitle profit__subtitle-white">
      Получая долю 10% в нашем филиале, при открытии следующих филиалов, у вас будет возможность, автоматически, без последующих вложений, иметь долю во втором и третьем филиале, получая дивиденды.
    </p>

    <p class="profit__subtitle">
      Ежемесячные дивиденды после возврата инвестиций
    </p>

    <p class="profit__subtitle">
      Инвестирование с капитализацией
    </p>

    <div class="profit__inner">
      <div class="card">
        <!-- <p class="card__title">
          С 1-ого филиала:
        </p> -->

        <p class="card__info">
          При открытии ещё одно филиала, без вложений, ваша прибыль увеличивается. И составляет ???
        </p>

        <!-- <picture class="card__img" >
          <source srcset="img/card/1_filial.avif" type="image/avif">
          <source srcset="img/card/1_filial.webp" type="image/webp">
          <img loading="lazy" src="img/card/1_filial.png"  width="51" height="58" alt="Золотые слитки">
        </picture> -->
      </div>
      <!-- <div class="card card-dark">
        <p class="card__title">
          С 2-х филиалов:
        </p>

        <p class="card__info">
          1.8-2.5 миллиона ₸ в месяц
        </p>

        <picture class="card__img" >
          <source srcset="img/card/2_filial.avif" type="image/avif">
          <source srcset="img/card/2_filial.webp" type="image/webp">
          <img loading="lazy" src="img/card/2_filial.png"  width="41" height="58" alt="Мешок с деньгами">
        </picture>
      </div> -->
      <div class="card">
        <!-- <p class="card__title">
          С 3-х филиалов:
        </p> -->

        <p class="card__info">
          При открытии третьего филиала, без ваших ваших вложений, ваша прибыль снова увеличивается. И составляет столько-то, столько-то.
        </p>

        <!-- <picture class="card__img" >
          <source srcset="img/card/3_filial.avif" type="image/avif">
          <source srcset="img/card/3_filial.webp" type="image/webp">
          <img loading="lazy" src="img/card/3_filial.png"  width="51" height="58" alt="Мешки с деньгами">
        </picture> -->
      </div>
    </div>

    <p class="profit__subtitle">
      Инвестируя в один филиал, вы получите выгоду с трёх филиалов.
    </p>
  </div>
</section>