<section class="profit">
  <div class="container">
    <h2 class="profit__title">
      Ожидаемая прибыль инвестора:
    </h2>

    <p class="profit__subtitle">
      Рассчет основан на  цифрах с действующих филиалов
    </p>

    <div class="profit__inner">
      <div class="card">
        <p class="card__title">
          С 1-ого филиала:
        </p>

        <p class="card__info">
          1-1.5 миллиона ₸ в месяц
        </p>

        <picture class="card__img" >
          <source srcset="img/card/1_filial.avif" type="image/avif">
          <source srcset="img/card/1_filial.webp" type="image/webp">
          <img loading="lazy" src="img/card/1_filial.png"  width="51" height="58" alt="Золотые слитки">
        </picture>
      </div>
      <div class="card card-dark">
        <p class="card__title">
          С 2-х филиалов:
        </p>

        <p class="card__info">
          1.8-2.5 миллиона ₸ в месяц
        </p>

        <picture class="card__img" >
          <source srcset="img/card/2_filial.avif" type="image/avif">
          <source srcset="img/card/2_filial.webp" type="image/webp">
          <img loading="lazy" src="img/card/2_filial.png"  width="51" height="58" alt="Мешок с деньгами">
        </picture>
      </div>
      <div class="card">
        <p class="card__title">
          С 3-х филиалов:
        </p>

        <p class="card__info">
          2.5-3.5 миллиона ₸ в месяц
        </p>

        <picture class="card__img" >
          <source srcset="img/card/3_filial.avif" type="image/avif">
          <source srcset="img/card/3_filial.webp" type="image/webp">
          <img loading="lazy" src="img/card/3_filial.png"  width="70" height="70" alt="Мешки с деньгами">
        </picture>
      </div>
    </div>
  </div>
</section>