// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --font-size: 25px;
  --content-width: 1200px;
  --content-fluid-width: 1270px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --bg-color: #171717;
  --main-title-color: #FAFAF9;
  --small-text-color: #EFEDE8;
  --card-color: #323443;
  --card-darc-color: #232532;
}
