.btn {
  width: 238px;
  height: 66px;

  background: #E6533C;
  border-radius: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1px;

  color: var(--light-color);
}