.card {
  display: flex;
  flex-direction: column;
  margin: 0 25px 30px;
  padding: 60px;
  background: #323443;
  border-radius: 12px;
  justify-content: center;
  text-align: center;
  width: 45%;

  &-dark {
    background-color: #232532;
  }

  &__title {
    margin-bottom: 45px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

    letter-spacing: 0.5px;
  }

  &__info {
    line-height: 150%;
  }

  &__img {
    align-self: center;

    @include mobile {
      display: none;
    }
  }

  &:last-child {
    padding: 60px 45px;
  }
}